<script type="text/javascript">
    /*global RED*/
    RED.nodes.registerType('sms-in', {
        category: 'input',
        inputs: 0,
        outputs: 1,
        color: "#A6BBCF",
        icon: "envelope.png",
        paletteLabel: "sms-in",
        defaults: {
            name: {
                value: ""
            }
        },
        label: function () {
            return this.name ? this.name : "sms-in";
        }
    });
</script>

<script type="text/x-red" data-template-name="sms-in">
    <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="sms-in">
    <p>Listen for incoming SMS</p>
    <p>Listens for new incoming messages</p>
    <p>msg.topic shows the sender's phone number</p>
</script> 

<script type="text/javascript">
    /*global RED*/
    RED.nodes.registerType('sms-out', {
        category: 'output',
        inputs: 1,
        outputs: 0,
        color: "#A6BBCF",
        icon: "envelope.png",
        align: "right",
        paletteLabel: "sms-out",
        defaults: {
            name: {
                value: ""
            },
            topic: {
                value: ""
            }
        },
        label: function () {
            return this.name ? this.name : "sms-out";
        }
    });
</script>

<script type="text/x-red" data-template-name="sms-out">
    <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
    <label for="node-input-topic"><i class="fa fa-phone"></i> Send to</label>
    <input type="text" id="node-input-topic" placeholder="Phone number">
    </div>
</script>

<script type="text/x-red" data-help-name="sms-out">
    <p>Send a new SMS</p>
    <p>Set the msg.topic to recipient's phone number in international format</p>
    <p>ISO format will be used if payload contains only latin characters.
    Otherwise the message will be sent in UCS2 encoding</p>
</script> 